<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Silly NodeJS app to test out Azure App Service.">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->
  </head>
<body>
  <div class="root-container {{answerClass}}">
    <main>
      <h1>{{answerText}}</h1>
    </main>

    <footer>
      <ul class="credits-list">
        <li>Made with &#10084; by <a href="https://github.com/marcdenning">marcdenning</a></li>
        <li><a href="https://github.com/marcdenning/is-today-a-lights-off-day">Source</a></li>
        <li><a href="https://openweathermap.org/api">Powered by OpenWeather</a></li>
      </ul>
    </footer>
  </div>
</body>
</html>
